<div class="card collection-item" data-location="<%= collection_item_path(collection_item.collection, collection_item) %>">
  <%= attachment_image_tag(collection_item, :image, :fit, 640, 650, {alt: collection_item.name, class: 'img-fluid'}) %>
  <div class='card-block text-xs-center'>
    <div class="card-block-content">
      <% if collection_item.name.present? %>
          <p class="item-title"><%= collection_item.name %></p>
          <p class="collection-name"><%= collection_item.collection.name %></p>
      <% end %>
      <% if collection_item.item_for_sale %>
          <%= link_to 'Contact for more info', collection_item_path(collection_item.collection, collection_item), class: 'contact-link' %>
      <% end %>
    </div>
  </div>
</div>
