<div class="collection">
  <div class="row">
    <% collection.collection_items[0..2].each do |item| %>
      <div class="col-xs-4 collection-image">
        <%= attachment_image_tag(item, :image, :fit, 650, 600, {alt: item.name, class: 'img-fluid'}) %>
      </div>
    <% end %>
  </div>
  <h3 class="collection-title text-xs-center"><%= link_to collection.name, collection_path(collection) %></h3>
</div>