<div class="editorial text-xs-center mx-auto" id="indigo-editorial">
  <p>Out of the depths of the deep blue sea, a NEW era of style was born.</p>
  <h1>INDIGO.</h1>
  <h2>
    Rhion Romany Menswear.<br/>
    June 2018.<br/>
    Make. Your. Move.
  </h2>
</div>