<div class="editorial text-xs-center mx-auto" id="mizaj-monday-editorial">
  <h1>Mizaj Monday</h1>
  <p><strong>Look 1:</strong> $155 USD</p>
  <p><strong>Look 2:</strong> $140 USD</p>
  <p><strong>Look 3:</strong> $140 USD</p>
  <p><strong>Add-ons (headband and wrist jewelry):</strong> $55USD</p>
  <br/>
  <p>Order now.</p>
</div>