<div class="mx-auto" id="murder-she-wrote-video">
  <div class="embed-responsive-16by9 embed-responsive video-container">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/y8I9ocktBr8?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>