<div class="editorial text-xs-center mx-auto" id="murder-she-wrote-editorial">
  <h1>Murder She Wrote</h1>
  <i class="fa fa-chevron-down" id="expand-editorial" aria-hidden="true"></i>
  <i class="fa fa-chevron-up" id="collapse-editorial" aria-hidden="true"></i>
  <div class="content">
    <p class="font-weight-bold"><u>She saw the light.</u></p>
    <p>Her name was She.</p>

    <p>Her curiosity was often shielded by innocence, always unsuspecting, always exploring, always… free. Or so it seemed.<br/>
      Day by day, She walked in her stylish and angelic purpose, a sophisticated woman in the heart of the metropolis to most, who silently fell into the ranks of the mundane. Her routine of elegance was her comfort zone. But deep within her consciousness, She knew that something was missing.</p>

    <p>She was bored.<br/>
      She needed more.<br/>
      She yearned for change.</p>

    <p>Often, She found solace in the Antillean Night. She drove to the highest point of the city to meet with the crypt-keeper of her sanity. The breeze whispered sweet persuasions into her ear. The Caribbean Moon danced playfully on her conscience.</p>

    <p>And then, She found her other self, under the watchful eye of the night sky.<br/>
      It stirred within her a hidden desire, suppressed only by the fear of not knowing. Not being. Usually, she recoiled in horror at the mere thought of the unknown.</p>

    <p>But this time, rather than cower from terror, She stood firmly, cloaked in the helplessness of the night. This time, She was ready to face her own music.</p>

    <p>The intrigue that followed was just the beginning of her tango with The Sinister.</p>

    <p>Murder was on her mind.</p>


    <p class="font-weight-bold"><u>The Camera was her deadly drug of choice.</u></p>

    <p>Desperate to satisfy her cravings, the comfort of the dark became her guiding light. Steely eyes matched her flirty confidence. Her insatiable love connection became her bad romance. <span class="font-weight-bold">She</span> was different – a bad gyal.</p>

    <p>In daylight, her old self became her most sophisticated lie. Flashes of her new-found power intimidated others, but she quickly regained composure. She longed for the moment where she could peel away the layers of discontent that held her captive for so long. The duality of her personality choked and protected her; reeled her into submission and armed her for the unknown.</p>

    <p>Now bored by the ordinary, she was intrigued by this uncharted sense of self. She controlled her urges by drowning her thoughts in the lights of the camera. It was the only lens that mattered; like a microscope to her truest soul. She laughed maniacally at the flashing, amused by the tease.</p>

    <p>In her, stirred a sense of revenge—she purposely lost her way to reclaim her authentic self. Her new normal was an art to be perfected. Haunting and deadly, she lived to break the rules. The <span class="font-weight-bold">bad gyal</span>  made her debut with much fashion fanfare.</p>

    <p>She was coming for blood.</p>

    <p class="font-weight-bold"><u>Fashion is her Revenge</u></p>

    <p>She quieted the noise with every delicate movement. No longer was she ruled by the judgement of others. Names and faces were forgotten as easily as her own sense of fear.</p>

    <p>Ruthlessness became the norm. Shadows of doubt became allies of assertiveness. The power no longer resided in the presence of ranks, but in the absence of rules.</p>

    <p>Vulnerability was no longer She.</p>

    <p>She not only owned the night and the day. She found comfort and balance in The Fierce.  She Is You.</p>

    <p class="font-weight-bold font-italic">Are you a sophisticated woman, or a bad gyal?</p>

    <p class="font-weight-bold font-italic">Get you a girl that can be both.</p>

    <p class="font-weight-bold font-italic">Murder She Wrote.</p>

    <p class="font-weight-bold font-italic">The Resort Collection by Rhion Romany.</p>

    <p class="font-weight-bold font-italic">September 2016.</p>

    <p class="font-weight-bold font-italic">Lights. Camera. Fashion.</p>

  </div>
</div>