<div class="collection video-collection">
  <div class="embed-responsive-16by9 embed-responsive video-container">
    <iframe class="embed-responsive-item" src="<%= video_youtube_url %>" frameborder="0" allowfullscreen></iframe>
  </div>
  <h3 class="collection-title text-xs-center"><%= collection_name %></h3>
</div>