<%
   pagetitle = "Collections"
   description = 'Welcome to Rhion Romany Collections'
   meta title: pagetitle,
        description: description,
        keywords: %w(rhion romany fashion collections carnival 2016),
        og: {
            title: pagetitle,
            url: collections_url,
            description: description
        }

   monroe_url = 'https://www.youtube.com/embed/5MkFIWUNhco?rel=0&amp;showinfo=0'
%>

<h1 class="text-xs-center" id="pagetitle">Collections</h1>

<div class="page-container container-fluid" id="collections-container">
  <%= render @collections %>
  <%= render partial: 'collections/video_collection', locals: {video_youtube_url: monroe_url, collection_name: 'Monroe'} %>
</div>