<%
   pagetitle = "Collection"
   description = 'Welcome to Rhion Romany Designs'
   meta title: pagetitle,
        description: description,
        keywords: %w(rhion romany fashion monday wear carnival 2016),
        og: {
            title: pagetitle,
            url: root_url,
            description: description
        }
%>

<% if @collection.slug == 'murder-she-wrote' %>
    <%= render partial: 'collections/murder_she_wrote_editorial' %>
    <div class="packery murder-she-wrote-collection-items" id="collection-items">
      <%= render partial: 'collections/collection_item', collection: @collection.collection_items %>
    </div>
    <%= render partial: 'collections/murder_she_wrote_video' %>
<% elsif @collection.slug == 'mizaj-monday' %>
    <%= render partial: 'collections/mizaj_monday_editorial' %>
    <div class="card-columns" id="collection-items">
      <%= render partial: 'collections/collection_item', collection: @collection.collection_items %>
    </div>
<% elsif @collection.slug == 'indigo' %>
    <%= render partial: 'collections/indigo_editorial' %>
    <div class="card-columns" id="collection-items">
      <%= render partial: 'collections/collection_item', collection: @collection.collection_items %>
    </div>
<% elsif @collection.ordered %>
    <div class="packery" id="collection-items">
      <%= render partial: 'collections/collection_item', collection: @collection.collection_items %>
    </div>
<% else %>
    <div class="card-columns" id="collection-items">
      <%= render partial: 'collections/collection_item', collection: @collection.collection_items %>
    </div>
<% end %>