<%
   pagetitle = "#{@collection_item.name}: #{@collection_item.collection.name}"
   description = 'Welcome to Rhion Romany Designs'
   meta title: pagetitle,
        description: description,
        keywords: %W(rhion romany fashion monday wear carnival 2016 #{@collection_item.name} #{@collection_item.collection.name}),
        og: {
            title: pagetitle,
            url: collection_item_url(@collection_item.collection, @collection_item),
            description: description
        }
%>

<div class="page-container container-fluid">
  <div id="collection-item-container" class="row">
    <div class="col-xs-12 col-sm-7" id="collection-item-image">
      <%= attachment_image_tag(@collection_item, :image, :fit, 600, 650, {alt: @collection_item.name, class: 'img-fluid zoom-inner', data: {zoom_image: attachment_url(@collection_item, :image), toggle: 'modal', target: '#imageModal'}}) %>
    </div>
    <div class="col-xs-12 col-sm-5" id="collection-item-details">
      <h1 id="collection-item-name"><%= @collection_item.name %></h1>
      <h2 id="collection-name"><%= link_to @collection_item.collection.name, collection_path(@collection_item.collection) %></h2>
      <% if @collection_item.collection.ordered %>
          <div id="collection-navigation">
            <% if prev_exists %>
              <%= link_to 'Previous Look', collection_item_path(@collection_item.collection, prev_item), class: 'btn btn-black btn-primary btn btn-block' %>
            <% end %>
            <% if next_exists %>
              <%= link_to 'Next Look', collection_item_path(@collection_item.collection, next_item), class: 'btn btn-black btn-primary btn-block' %>
            <% end %>
          </div>
      <% end %>
      <% if @collection_item.item_for_sale %>
        <div id="request-info">
          <% if user_signed_in? %>
              <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#requestForm" aria-expanded="false" aria-controls="requestForm">Request Info</button>
              <div class="collapse" id="requestForm">
                <%= form_for Enquiry.new do |f| %>
                  <%= f.hidden_field :collection_item_id, value: @collection_item.id %>
                  <fieldset class="form-group">
                    <%= f.label :message, 'Type any additional request information below:' %>
                    <%= f.text_area :message, class: 'form-control' %>
                  </fieldset>

                  <%= f.submit 'Send Request', class: 'btn btn-primary' %>
                <% end %>
              </div>
          <% else %>
              <%= link_to 'Request Info', new_user_session_path + "?redirect_to=#{@collection_item.slug}", class: 'btn btn-primary btn-lg btn-block', role: 'button' %>
          <% end %>
        </div>
        <p class="text-muted" id="request-info-call-to-action">*Use the request info option to get information on purchasing this item.</p>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id='imageModal' tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= attachment_image_tag(@collection_item, :image, {class: 'img-fluid'}) %>
    </div>
  </div>
</div>