<nav class="navbar navbar-fixed-top">
  <div class="container-fluid page-container">
    <button class="navbar-toggler hidden-sm-up float-xs-left" type="button" data-toggle="collapse" data-target="#collapsableMenu">
      &#9776;
    </button>
    <div class="float-right hidden-sm-up" id="logo">
      <%= image_tag 'RR-logo.png', height: 155, width: 137, class: 'img-fluid' %>
    </div>
    <div class='clearfix hidden-sm-up'></div>
    <div class="float-xs-right collapse navbar-toggleable-xs" id="collapsableMenu">
      <ul class="nav navbar-nav text-right" id="main-menu">
        <% if page?('about') %>
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link' %>
            </li>
        <% end %>
        <li class="nav-item">
          <%= link_to 'Collections', collections_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'About', about_page_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Account', account_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="nav navbar-nav float-xs-right" id="social-media-menu">
        <li class="nav-item">
          <%= link_to(image_tag('facebook-icon-white.png', width: 9, height: 18), 'https://www.facebook.com/RhionRomany', class: 'nav-link', target: '_blank') %>
        </li>
        <li class="nav-item">
          <%= link_to(image_tag('twitter-icon-white.png', width: 20, height: 18), 'https://twitter.com/RhionRomany', class: 'nav-link', target: '_blank') %>
        </li>
      </ul>
    </div>
  </div>
</nav>