<%
   pagetitle = 'About'
   description = 'About Rhion Romany Designs'
   meta title: pagetitle,
        description: description,
        keywords: %w(about rhion romany fashion monday wear carnival 2016),
        og: {
            title: pagetitle,
            url: about_page_url,
            description: description
        }
%>

<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid page-container">
    <h1 class="text-xs-center" id="pagetitle">
      About
    </h1>
    <section>
      <p class="lead text-xs-center"><strong>Fashion resides freely within Rhion Romany</strong></p>
      <hr class="m-y-md">
      <p>For quite some time, this alumnus of Queen’s Royal College has been an ardent admirer of and inspired by well-known local & international fashion impresarios,
        who have fine-tuned their skills to transform and enhance the global meaning of style to suit ever-changing social trends.
        A Caribbean climate of inspiration allowed Romany to channel his natural ability of selecting edgy, contemporary designs for his clients via his wildly successful retail boutique, KrAze.</p>
      <p>The stirring of his honed design talent, however, came with the successful launch of his exclusive swimwear collection for summer for Cropover 2012.</p>
      <p>A mere 2 years later, the young designer has amassed a sizeable Fan base, as well as glowing praises from his peers in the industry.
        The experience also served as a constant state of creative awakening: it challenged the daring 24 year-old to nurture & explore the untamed arena of fashion design.
      </p>
      <p>For Rhion, design inspiration is easily motivated by the evolution of the Trinidadian social lifestyle. His productions draw real-time references from the spaces that he occupies,
        and he takes pride in the progress of his generation that continue to reciprocate creative avenues that keep fashion trends unique, relatable and current.</p>
    </section>
    <section>
      <p class="lead text-xs-center"><strong>The end point: a celebration of the power of the female form</strong></p>
      <hr class="m-y-md">
      <p>Rhion’s point of view & impeccable taste levels remain highly consistent for his premiere collection. He is a man who unapologetically continues to design for a woman, appreciate body construction and encourage his female clients to reclaim & celebrate their feminine form.
        There is a distinct air of elegance and richness embodied in Rhion’s design taste, and one can always expect progressive pieces of work on his runway that wholly rejects tameness and sameness in approach.</p>
      <p>With such highly-applauded collections as “Monroe” and “She Wolf” under his belt, the birth and growth of the Rhion Romany Brand has unleashed an energy of confidence for this promising designer to give the masses a taste of “the refined”.</p>
      <p>To date, his designs have been worn by everyone from America’s Next Top Model’s Bianca Golden to the stage dancers for award-winning Soca Sensation Machel Montano.
        His creations have graced the runway for audiences such as CreativeTT’s “Masquerade” event in honour of Vogue Italia & HOT Couture in St. Lucia Jazz & Arts Festival. The ЯR brand has now announced a partnership with TRIBE Carnival for an exclusive line of Monday Wear for the 2015 season.</p>
      <p>With his next collection “Domina” on the way, his point of view comfortably positions his female clientele in a innovative space for Trinidad & Tobago: armed with the audacity to always be bold, sophisticated and timeless, ready to take on the world.</p>
    </section>
  </div>
</div>