<%
   pagetitle = 'Contact'
   description = 'Contact Rhion Romany Designs'
   meta title: pagetitle,
        description: description,
        keywords: %w(rhion romany fashion monday wear carnival 2016),
        og: {
            title: pagetitle,
            url: contact_page_url,
            description: description
        }

   if user_signed_in?
     @contact.name = current_user.name
     @contact.email = current_user.email
   end
%>

<%= render 'shared/flash_messages' %>

<h1 class="text-xs-center" id="pagetitle">Contact</h1>

<div class="page-container container-fluid" id='contact-container'>
  <div class="row">
    <!-- Contact Us Form -->
    <div class="col-xs-12 col-sm-6" id="contact-form">
      <h2 id="subtitle">Message Us!</h2>
      <%= form_for @contact, url: contact_path, method: :post do |f| %>
        <fieldset class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control', required: true %>
        </fieldset>

         <fieldset class="form-group">
           <%= f.label :email %>
           <%= f.email_field :email, class: 'form-control', required: true %>
         </fieldset>

         <fieldset class="form-group">
           <%= f.label :subject %>
           <%= f.text_field :subject, class: 'form-control', required: true %>
         </fieldset>

         <fieldset class="form-group">
           <%= f.label :message %>
           <%= f.text_area :message, class: 'form-control', required: true %>
         </fieldset>

         <%= f.submit 'Send', class: 'btn btn-secondary' %>
      <% end %>
    </div>

    <!-- Contact Us Info -->
    <div class="col-xs-12 col-sm-6 text-xs-right" id="contact-info">
      <h2 id="subtitle">Contact Information</h2>
      <p id="phone"><i class="fa fa-phone-square"></i>(868) 787-1166</p>
      <p id="email"><i class="fa fa-envelope"></i>info@rhionromany.com</p>
      <p id="facebook"><a href="https://www.facebook.com/RhionRomany"><i class="fa fa-facebook-official"></i>facebook.com/RhionRomany</a></p>
      <p id="twitter"><a href="https://twitter.com/RhionRomany"><i class="fa fa-twitter-square"></i>twitter.com/RhionRomany</a></p>
      <p id="instagram"><a href="https://instagram.com/rhionromany"><i class="fa fa-instagram"></i>instagram.com/rhionromany</a></p>
    </div>
  </div>
</div>
