<%
   pagetitle = 'Welcome to Rhion Romany'
   description = 'Welcome to Rhion Romany Designs'
   meta title: pagetitle,
        description: description,
        keywords: %w(rhion romany fashion monday wear carnival 2016),
        og: {
            title: pagetitle,
            url: root_url,
            description: description
        }
%>

<div class="scene parallax" id="first">
  <div class="scene-background"></div>
  <p class="text-xs-center" id="first-text">
    <span class="green">Rhion Romany</span><br/>
    is the embodiment<br/>
    of boldness,<br/>
    sophistication<br/>
    and<br/>
    timeliness.
  </p>
</div>

<div class="scene parallax" id="second">
  <div class="scene-background"></div>
  <p class="text-xs-center" id="second-text"><span id="murder-she-wrote-title">Murder She Wrote</span><br/>
    <%= link_to 'See Full Collection', collection_path('murder-she-wrote'), class: 'text-xs-center collection-link' %>
  </p>
</div>

<div class="scene parallax" id="third">
  <div class="scene-background"></div>
  <p class="text-xs-center" id="third-text">
    <span class="green">Rhion Romany</span><br/>
    celebrates<br/>
    the feminine form<br/>
    with highly consistent<br/>
    impeccable<br/>
    taste levels.
  </p>
</div>

<div class="scene parallax" id="fourth">
  <div class="scene-background"></div>
  <p class="text-xs-center" id="fourth-text"><span id="monday-wear-title"><span class="lighter">&#1071;</span>R Monday Wear 2016</span><br/>
    <%= link_to 'See Full Collection', collection_path('monday-wear-2016'), class: 'text-xs-center collection-link' %>
  </p>
</div>