<%
   @pagetitle = 'Enquiry Made By User E-Mail Notification'
   @email_introduction = 'You have received an enquiry regarding one of your collection items'
%>

<p>You received an enquiry at <%= @enquiry.created_at.strftime('%I:%M %p') %>, on <%= @enquiry.created_at.strftime('%B %y, %Y') %>, from
<%= @user.name %>.</p>
<p>The enquiry concerned the item, <%= @enquiry.collection_item.name %>, of the <strong><%= @enquiry.collection_item.collection.name %></strong> collection.</p>
<% if @enquiry.message.present? %>
<p style="text-decoration: underline"><strong>The enquiry included a message:</strong></p>
<p><%= @enquiry.message %></p>
<% end %>
<p style="border-top: 1px solid #000000; padding-top: 25px;">
  You can respond to this enquiry <a style="text-decoration: underline; color: inherit;" href="<%= @enquiry.admin_response_url %>" target="_blank">here</a>.
</p>