<%
   pagetitle = 'Account Recovery - Unlock'
   description = 'Rhion Romany Customer Account Recovery Page'
   meta title: pagetitle,
        description: description
%>

<%= render 'shared/flash_messages' %>

<h1 class="text-xs-center" id="pagetitle">Resend unlock instructions</h1>

<div class="page-container container-fluid" id="authentication-forms">
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <fieldset class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', autofocus: true, required: true %>
      </fieldset>

      <%= f.submit 'Resend unlock instructions', class: 'btn btn-primary' %>
  <% end %>

  <div class="additional-links">
    <%= link_to "Log in or Sign up", new_session_path(resource_name) %>
  </div>
</div>
