<%
   pagetitle = 'Account Recovery - Change your Password'
   description = 'Rhion Romany Customer Account Change Password Page'
   meta title: pagetitle,
        description: description

   # Set Label to include Minimum Password Length if set
   if @minimum_password_length
     password_label = 'New Password' + " (#{@minimum_password_length} characters minimum)"
   else
     password_label = 'New Password'
   end
%>

<%= render 'shared/flash_messages' %>

<h1 class="text-xs-center" id="pagetitle">Change your password</h1>

<div class="page-container container-fluid" id="authentication-forms">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <fieldset class="form-group">
        <%= f.label :password, password_label %>
        <%= f.password_field :password, class: 'form-control', autofocus: true, required: true %>
      </fieldset>

      <fieldset class="form-group">
        <%= f.label :password_confirmation, 'Confirm New Password' %>
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', required: true %>
      </fieldset>

      <%= f.submit 'Change my password', class: 'btn btn-primary' %>
  <% end %>

  <div class="additional-links">
    <%= link_to "Log in or Sign up", new_session_path(resource_name) %>
  </div>
</div>

