<footer class="navbar">
  <div class="container-fluid page-container">
    <div class="float-xs-left">
      <span class="copyright">&copy; Rhion Romany 2016</span>
    </div>

    <div class="float-xs-right">
      <ul class="nav navbar-nav text-right" id="footer-menu">
        <li class="nav-item">
          <%= link_to 'Return Policy', '#', class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Terms &amp; Conditions'.html_safe, '#', class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Privacy Policy', '#', class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact', contact_page_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to(image_tag('up-arrow.png', width: 11, height: 22), '#inner-container', class: 'nav-link') %>
        </li>
      </ul>
    </div>
  </div>
</footer>