<nav class="navbar navbar-fixed-top">
  <div class="container-fluid page-container">
    <!-- RR Logo (floated to left side. Show image dependent on body ID) -->
    <div class="float-xs-left" id="logo">
      <%= link_to(image_tag('RR-logo.png', width: 137, height: 155, class: 'img-fluid'), root_path, class: 'black') %>
      <%= link_to(image_tag('RR-logo-white.png', width: 137, height: 155, class: 'img-fluid'), root_path, class: 'white') %>
    </div>

    <!-- Mobile Menu Button -->
    <button class="navbar-toggler hidden-sm-up float-right" type="button" data-toggle="collapse" data-target="#collapsableMenu">
      &#9776;
    </button>

    <!-- Clear if Mobile Menu Visible -->
    <div class="clearfix hidden-sm-up"></div>

    <!-- Menu Items -->
    <div class="float-xs-right collapse navbar-toggleable-xs" id="collapsableMenu">
      <ul class="nav navbar-nav text-xs-right" id="main-menu">
        <li class="nav-item">
          <%= link_to 'Collections', collections_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'About', about_page_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'My Account', account_path, class: 'nav-link' %>
        </li>
        <!-- Show following links only if in mobile mode -->
        <li class="nav-item hidden-sm-up">
          <%= link_to 'Facebook', 'https://www.facebook.com/RhionRomany', class: 'nav-link' %>
        </li>
        <li class="nav-item hidden-sm-up">
          <%= link_to 'Twitter', 'https://www.twitter.com/RhionRomany', class: 'nav-link' %>
        </li>
        <li class="nav-item hidden-sm-up">
          <%= link_to 'Contact', contact_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="nav navbar-nav float-xs-right hidden-xs-down" id="social-media-menu">
        <li class="nav-item">
          <%= link_to(image_tag('facebook-icon.png', width: 9, height: 18), 'https://www.facebook.com/RhionRomany', class: 'nav-link black') %>
          <%= link_to(image_tag('facebook-icon-white.png', width: 9, height: 18), 'https://www.facebook.com/RhionRomany', class: 'nav-link white') %>
        </li>
        <li class="nav-item">
          <%= link_to(image_tag('twitter-icon.png', width: 20, height: 18), 'https://twitter.com/RhionRomany', class: 'nav-link black') %>
          <%= link_to(image_tag('twitter-icon-white.png', width: 20, height: 18), 'https://twitter.com/RhionRomany', class: 'nav-link white') %>
        </li>
      </ul>
    </div>
  </div>
</nav>