<%
   pagetitle = "My Account - #{@order.collection_item.name} [#{@order.collection_item.collection.name}] - Payment Errors"
   description = 'Rhion Romany Customer Account Order Payment Errors Page'
   meta title: pagetitle,
        description: description
%>

<h1 class="text-xs-center" id="pagetitle">My Account</h1>

<%= render 'accounts/account_menu' %>

<div class="page-container container-fluid" id="errors-container">
  <div class="card">
    <div class="card-header">
      <div class="float-xs-left"><%= @order.collection_item.name %> [<%= @order.collection_item.collection.name %>] - Payment Errors</div>
      <div class="float-xs-right"><%= link_to 'Retry Payment', account_order_retry_payment_path(@order), class: 'btn btn-secondary btn-sm' %></div>
      <div class="clearfix"></div>
    </div>
    <ul class="list-group">
      <%= render partial: 'payment/transaction_error', collection: @order.transaction_errors %>
    </ul>
  </div>
</div>
