<%
   pagetitle = 'My Account - Retry Payment'
   description = 'Rhion Romany Customer Account Retry Payment Page'
   meta title: pagetitle,
        description: description
%>

<h1 class="text-xs-center" id="pagetitle">Retry Payment</h1>

<div class="page-container container-fluid">
  <!-- Errors -->
  <div id="checkout-errors">

  </div>

  <!-- Order Form -->
  <%= form_for @order, url: account_order_authorize_payment_path(@order), html: {class: 'order-form'}, method: :post do |f| %>
      <%= f.hidden_field :currency, value: 'USD' %>
      <%= f.hidden_field :token %>
      <%= f.hidden_field :credit_card %>
      <div id="order-container" class="row">
        <div class="col-xs-12 col-sm-2" id="collection-item-image">
          <%= attachment_image_tag(@order.collection_item, :image, :fit, 600, 650, {alt: @order.sale_authorization.collection_item.name, class: 'img-fluid'}) %>
        </div>
        <div class="col-xs-12 col-sm-5" id="address-container">
          <div class="card">
            <div class="card-header">
              Billing Address
            </div>
            <div class="card-block">
              <fieldset class="form-group">
                <%= f.label :billing_street_address_1, 'Street Address Line 1*' %>
                <%= f.text_field :billing_street_address_1, class: 'form-control address_1' %>
              </fieldset>

              <fieldset class="form-group">
                <%= f.label :billing_street_address_2, 'Street Address Line 2' %>
                <%= f.text_field :billing_street_address_2, class: 'form-control address_2' %>
              </fieldset>

              <div class="row">
                <div class="col-xs-5">
                  <fieldset class="form-group">
                    <%= f.label :billing_city, "City*" %>
                    <%= f.text_field :billing_city, class: 'form-control city' %>
                  </fieldset>
                </div>

                <div class="col-xs-3">
                  <fieldset class="form-group state-container">
                    <%= f.label :billing_state, 'State' %>
                    <%= f.text_field :billing_state, class: 'form-control state' %>
                  </fieldset>
                </div>

                <div class="col-xs-4">
                  <fieldset class="form-group zipcode-container">
                    <%= f.label :billing_zip_code, 'Zip Code' %>
                    <%= f.text_field :billing_zip_code, class: 'form-control zip_code' %>
                  </fieldset>
                </div>
              </div>

              <fieldset class="form-group">
                <%= f.label :billing_country, 'Country' %>
                <%= f.country_select :billing_country, {priority_countries: ["US"], format: :with_alpha3}, class: 'c-select country' %>
              </fieldset>

            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5" id="credit-card-container">
          <div class="card">
            <div class="card-header">
              Credit Card Information
            </div>
            <div class="card-block" id="credit-card-form">
              <fieldset class="form-group">
                <%= f.label :cardholder_name, "Cardholder's Name*" %>
                <%= f.text_field :cardholder_name, class: 'form-control' %>
              </fieldset>

              <fieldset class="form-group">
                <%= f.label :email_address, "E-Mail Address" %>
                <%= f.email_field :email_address, class: 'form-control'%>
              </fieldset>

              <fieldset class="form-group">
                <%= f.label :phone_number, "Phone Number" %>
                <%= f.text_field :phone_number, class: 'form-control' %>
              </fieldset>

              <fieldset class="form-group">
                <%= label_tag :ccNo, "Card Number*" %>
                <%= text_field_tag :ccNo, nil, autocomplete: 'off', class: 'form-control' %>
              </fieldset>

              <fieldset class="form-group">
                <%= label_tag :expirationDate, "Expiration Date (MM/YYYY)*" %>
                <div class="row">
                  <div class="col-xs-4">
                    <%= number_field_tag :expMonth, nil, max: 12, placeholder: 'MM', class: 'form-control' %>
                  </div>
                  <div class="col-xs-4">
                    <%= number_field_tag :expYear, nil, min: Time.now.year, placeholder: 'YYYY', class: 'form-control' %>
                  </div>
                </div>
              </fieldset>

              <!-- TODO Add Tooltip explaining verification code location -->
              <fieldset class="form-group">
                <%= label_tag :cvv, "Card Verification Code (3 or 4 digit code on back of the card)*" %>
                <div class="row">
                  <div class="col-xs-3">
                    <%= text_field_tag :cvv, nil, autocomplete: 'off', class: 'form-control' %>
                  </div>
                </div>
              </fieldset>

              <%= content_tag(:button, 'Authorize Transaction', {role: 'button', class: 'btn btn-primary', id: 'authorize-transaction-button'}) %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

<script>
  var two_checkout_environment = "<%= ENV['two_checkout_environment'] %>";
  var two_checkout_sellerId = "<%= ENV['two_checkout_sellerId'] %>";
  var two_checkout_publishableKey = "<%= ENV['two_checkout_publishableKey'] %>";
</script>

<div id="loading-container">
  <div id="loading-overlay"></div>
  <div id="loading-image">
    <%= image_tag 'wheel.svg', width: 120, height: 120 %>
  </div>
</div>