<div class="card">
  <%= attachment_image_tag(order.collection_item, :image, :fit, 650, 600, {alt: order.collection_item.name, class: 'img-fluid card-img-top'}) %>
  <div class="card-block">
    <h4 class="card-title"><%= order.collection_item.name %><small class='text-muted'> <%= order.collection_item.collection.name %></small></h4>
    <p><strong>Status: </strong><%= order.status.capitalize %></p>
    <div class="btn-group enquiry-options" role="group" aria-label="Authorization Options">
      <% if order.submitted? %>
        <%= link_to 'Payment Errors', account_order_payment_errors_path(order), class: 'btn btn-danger btn-sm' %>
      <% end %>
      <%= link_to 'View Order Details', account_order_path(order), class: 'btn btn-secondary btn-sm' %>
    </div>
  </div>
</div>