<%
   pagetitle = 'My Account - Orders'
   description = 'Rhion Romany Customer Account Orders Page'
   meta title: pagetitle,
        description: description
%>

<h1 class="text-xs-center" id="pagetitle">My Account</h1>

<%= render 'accounts/account_menu' %>

<% if @user.orders.count > 0 %>
    <div class="card-columns page-container container-fluid" id="orders">
      <%= render @user.orders %>
    </div>
<% else %>
    <div class="page-container empty-list container-fluid" id="empty-orders">
      <p class="text-xs-center lead">No orders were found for your account</p>
    </div>
<% end %>