<%
   pagetitle = 'My Account - Place New Order'
   description = 'Rhion Romany Customer Account New Order Page'
   meta title: pagetitle,
        description: description
%>

<h1 class="text-xs-center" id="pagetitle">Place New Order</h1>

<div class="page-container container-fluid">
  <!-- Errors -->
  <div id="checkout-errors">

  </div>

  <!-- Order Form -->
  <%= form_for setup_order(@sale_authorization.build_order), url: account_authorization_order_path(@sale_authorization), html: {class: 'order-form'}, method: :post do |f| %>
    <%= f.hidden_field :collection_item_id, value: @sale_authorization.collection_item_id %>
    <%= f.hidden_field :user_id, value: @sale_authorization.user_id %>
    <%= f.hidden_field :sale_authorization_id %>
    <%= f.hidden_field :payment, value: @sale_authorization.price %>
    <%= f.hidden_field :currency, value: 'USD' %>
    <%= f.hidden_field :quantity, value: 1 %>
    <%= f.hidden_field :token %>
    <%= f.hidden_field :credit_card %>
    <div id="order-container" class="row">
      <div class="col-xs-12 col-sm-2" id="collection-item-image">
        <%= attachment_image_tag(@sale_authorization.collection_item, :image, :fit, 600, 650, {alt: @sale_authorization.collection_item.name, class: 'img-fluid'}) %>
      </div>
      <div class="col-xs-12 col-sm-5" id="address-container">
        <div class="card">
          <div class="card-header">
            Shipping Address
          </div>
          <div class="card-block">
            <%= f.fields_for :address do |address_field| %>
              <fieldset class="form-group">
                <%= address_field.label :street_address_1, 'Street Address Line 1*' %>
                <%= address_field.text_field :street_address_1, class: 'form-control address_1' %>
              </fieldset>

              <fieldset class="form-group">
                <%= address_field.label :street_address_2, 'Street Address Line 2' %>
                <%= address_field.text_field :street_address_2, class: 'form-control address_2' %>
              </fieldset>

              <div class="row">
                <div class="col-xs-5">
                  <fieldset class="form-group">
                    <%= address_field.label :city, "City*" %>
                    <%= address_field.text_field :city, class: 'form-control city' %>
                  </fieldset>
                </div>

                <div class="col-xs-3">
                  <fieldset class="form-group state-container">
                    <%= address_field.label :state %>
                    <%= address_field.text_field :state, class: 'form-control state' %>
                  </fieldset>
                </div>

                <div class="col-xs-4">
                  <fieldset class="form-group zipcode-container">
                    <%= address_field.label :zip_code %>
                    <%= address_field.text_field :zip_code, class: 'form-control zip_code' %>
                  </fieldset>
                </div>
              </div>

              <fieldset class="form-group">
                <%= address_field.label :country %>
                <%= address_field.country_select :country, {priority_countries: ["US"], format: :with_alpha3}, class: 'c-select country' %>
              </fieldset>
            <% end %>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <div class="float-xs-left">Billing Address</div>
            <div class="float-xs-right"><button id="same-as-shipping" role="button" class="btn btn-sm">Same as Above</button></div>
            <div class="clearfix"></div>
          </div>
          <div class="card-block">
            <fieldset class="form-group">
              <%= f.label :billing_street_address_1, 'Street Address Line 1*' %>
              <%= f.text_field :billing_street_address_1, class: 'form-control address_1' %>
            </fieldset>

            <fieldset class="form-group">
              <%= f.label :billing_street_address_2, 'Street Address Line 2' %>
              <%= f.text_field :billing_street_address_2, class: 'form-control address_2' %>
            </fieldset>

            <div class="row">
              <div class="col-xs-5">
                <fieldset class="form-group">
                  <%= f.label :billing_city, "City*" %>
                  <%= f.text_field :billing_city, class: 'form-control city' %>
                </fieldset>
              </div>

              <div class="col-xs-3">
                <fieldset class="form-group state-container">
                  <%= f.label :billing_state, 'State' %>
                  <%= f.text_field :billing_state, class: 'form-control state' %>
                </fieldset>
              </div>

              <div class="col-xs-4">
                <fieldset class="form-group zipcode-container">
                  <%= f.label :billing_zip_code, 'Zip Code' %>
                  <%= f.text_field :billing_zip_code, class: 'form-control zip_code' %>
                </fieldset>
              </div>
            </div>

            <fieldset class="form-group">
              <%= f.label :billing_country, 'Country' %>
              <%= f.country_select :billing_country, {priority_countries: ["US"], format: :with_alpha3}, class: 'c-select country' %>
            </fieldset>

          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5" id="credit-card-container">
        <div class="card">
          <div class="card-header">
            Order Information
          </div>
          <% unless @sale_authorization.message.nil? %>
              <div class="card-block">
                <p><%= @sale_authorization.message %></p>
              </div>
          <% end %>
          <div class="card-block">
            <div class="row">
              <div class="col-xs-4">
                <fieldset class="form-group">
                  <%= f.label :bra_size %>
                  <%= f.text_field :bra_size, class: 'form-control' %>
                </fieldset>
              </div>
              <div class="col-xs-4">
                <fieldset class="form-group">
                  <fieldset class="form-group">
                    <%= f.label :bust_size %>
                    <%= f.text_field :bust_size, class: 'form-control' %>
                  </fieldset>
                </fieldset>
              </div>
              <div class="col-xs-4">
                <fieldset class="form-group">
                  <%= f.label :waist_size %>
                  <%= f.text_field :waist_size, class: 'form-control' %>
                </fieldset>
              </div>
              <div class="col-xs-4">
                <fieldset class="form-group">
                  <%= f.label :hip_size %>
                  <%= f.text_field :hip_size, class: 'form-control' %>
                </fieldset>
              </div>
              <div class="col-xs-12">
                <fieldset class="form-group">
                  <%= f.label :additional_info %>
                  <%= f.text_area :additional_info, class: 'form-control' %>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Credit Card Information
          </div>
          <div class="card-block" id="credit-card-form">
            <fieldset class="form-group">
              <%= f.label :cardholder_name, "Cardholder's Name*" %>
              <%= f.text_field :cardholder_name, class: 'form-control' %>
            </fieldset>

            <fieldset class="form-group">
              <%= f.label :email_address, "E-Mail Address" %>
              <%= f.email_field :email_address, class: 'form-control'%>
            </fieldset>

            <fieldset class="form-group">
              <%= f.label :phone_number, "Phone Number" %>
              <%= f.text_field :phone_number, class: 'form-control' %>
            </fieldset>

            <fieldset class="form-group">
              <%= label_tag :ccNo, "Card Number*" %>
              <%= text_field_tag :ccNo, nil, autocomplete: 'off', class: 'form-control' %>
            </fieldset>

            <fieldset class="form-group">
              <%= label_tag :expirationDate, "Expiration Date (MM/YYYY)*" %>
              <div class="row">
                <div class="col-xs-4">
                  <%= number_field_tag :expMonth, nil, max: 12, placeholder: 'MM', class: 'form-control' %>
                </div>
                <div class="col-xs-4">
                  <%= number_field_tag :expYear, nil, min: Time.now.year, placeholder: 'YYYY', class: 'form-control' %>
                </div>
              </div>
            </fieldset>

            <!-- TODO Add Tooltip explaining verification code location -->
            <fieldset class="form-group">
              <%= label_tag :cvv, "Card Verification Code (3 or 4 digit code on back of the card)*" %>
              <div class="row">
                <div class="col-xs-3">
                  <%= text_field_tag :cvv, nil, autocomplete: 'off', class: 'form-control' %>
                </div>
              </div>
            </fieldset>

            <%= content_tag(:button, 'Authorize Transaction', {role: 'button', class: 'btn btn-primary', id: 'authorize-transaction-button'}) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  var two_checkout_environment = "<%= ENV['two_checkout_environment'] %>";
  var two_checkout_sellerId = "<%= ENV['two_checkout_sellerId'] %>";
  var two_checkout_publishableKey = "<%= ENV['two_checkout_publishableKey'] %>";
</script>

<div id="loading-container">
  <div id="loading-overlay"></div>
  <div id="loading-image">
    <%= image_tag 'wheel.svg', width: 120, height: 120 %>
  </div>
</div>