<%
   pagetitle = "My Account - Order No #{@order.order_number}"
   description = 'Rhion Romany Customer Account Order Details Page'
   meta title: pagetitle,
        description: description
%>

<h1 class="text-xs-center" id="pagetitle">My Account</h1>

<%= render 'accounts/account_menu' %>

<div class="page-container container-fluid" id="order-details-container">
  <%= render 'shared/flash_messages' %>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title"><%= @order.collection_item.name %></h4>
      <h5 class="card-subtitle text-muted"><%= @order.collection_item.collection.name %></h5>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-xs-12 col-sm-5" id="collection-item-container">
          <%= attachment_image_tag(@order.collection_item, :image, :fit, 650, 600, {alt: @order.collection_item.name, class: 'img-fluid'}) %>
        </div>
        <div class="col-xs-6 col-sm-4" id="order-details">
          <p class="card-text" id="price"><strong>Price: </strong>USD <%= @order.payment %></p>
          <p class="card-text" id="order-status"><strong>Order Status: </strong><%= @order.status.capitalize %></p>
          <%= order_status_date(@order, :p, 'card-text') %>
          <p class="card-text" id="credit-card"><strong>Credit Card: </strong><%= @order.credit_card %></p>
          <p class="card-text" id="address">
            <strong>Order Address:</strong>
            <address>
              <%= @order.address.street_address_1 %><br/>
              <% unless @order.address.street_address_2.nil? or @order.address.street_address_2.blank? %>
                <%= @order.address.street_address_2 %><br/>
              <% end %>
              <%= @order.address.city %><br/>
              <% unless @order.address.state.nil? or @order.address.state.blank? %>
                <%= @order.address.state %> <%= @order.address.zip_code %><br/>
              <% end %>
              <%= @order.address.country %>
            </address>
          </p>
        </div>
        <div class="col-xs-6 col-sm-2" id="order-options">
          <div class="btn-group-vertical">
            <% if @order.submitted? %>
              <%= link_to 'Payment Errors', account_order_payment_errors_path(@order), class: 'btn btn-secondary' %>
              <%= link_to 'Retry Payment', account_order_retry_payment_path(@order), class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>