<% if response.writer.name == 'Admin'
     writer_name = 'Rhion Romany'
   else
     writer_name = 'You'
   end
%>

<li class="list-group-item">
  <h6 class="list-group-item-heading"><strong><%= writer_name %></strong>:</h6>
  <p class="list-group-item-text"><%= response.message %></p>
</li>


