<%
   pagetitle = "Enquiry for #{@enquiry.collection_item.name} - Responses"
   description = 'Rhion Romany Customer Account Enquiry Responses Page'
   meta title: pagetitle,
        description: description
%>

<h1 class="text-xs-center" id="pagetitle">My Account</h1>

<%= render 'accounts/account_menu' %>

<h2 class="text-xs-center" id="subtitle">Enquiry: <%= @enquiry.collection_item.name %></h2>

<% if @enquiry.responses.count > 0 %>
<div class="page-container container-fluid list-group" id="message-thread">
  <%= render(partial: 'enquiry', object: @enquiry) if @enquiry.message.present? %>
  <%= render @enquiry.responses.order(created_at: :asc) %>
</div>
<div class="page-container container-fluid" id="add-response">
  <button class="btn btn-primary btn-block btn-lg" type="button" data-toggle="collapse" data-target="#addResponse" aria-expanded="false" aria-controls="addResponse">Reply</button>
  <div class="collapse" id="addResponse">
    <%= form_for @enquiry.responses.new, url: account_enquiry_responses_path(@enquiry), method: :post do |f| %>
      <fieldset class="form-group">
        <%= f.label :message %>
        <%= f.text_area :message, class: 'form-control' %>
      </fieldset>
      <%= f.hidden_field :enquiry_id %>

      <%= f.submit 'Send', class: 'btn btn-secondary' %>
     <% end %>
  </div>
</div>
<% else %>
<div class="empty-list">
  <p class="text-xs-center lead">There have been no responses to this enquiry</p>
</div>
<% end %>