<%
   @pagetitle = 'E-Mail with Message Received from Website'
   @email_introduction = 'You have received a correspondence via the website'
%>

<p>You received a correspondence via the website from <strong><%= @message.name %></strong>:</p>
<p><%= @message.message %></p>