<%
   pagetitle = 'Log into your Account'
   description = 'Rhion Romany Customer Account Login Page'
   meta title: pagetitle,
        description: description

   # Set Label to include Minimum Password Length if set
   if @minimum_password_length
     password_label = 'Password' + " (#{@minimum_password_length} characters minimum)"
   else
     password_label = 'Password'
   end
%>

<div class="page-container container-fluid">
  <%= render 'shared/flash_messages' %>
</div>

<div class="page-container container-fluid">
  <div class="row" id="authentication-forms">
    <!-- Login Form -->
    <div class="col-xs-12 col-sm-6" id="login">
      <h2>Log In</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <fieldset class="form-group">
          <%= f.label :email, 'E-Mail Address' %>
          <%= f.email_field :email, autofocus: true, required: true, class: 'form-control' %>
        </fieldset>

        <fieldset class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: 'off', required: true, class: 'form-control' %>
        </fieldset>

        <% if devise_mapping.rememberable? -%>
          <fieldset class="form-group">
            <label class="c-input c-checkbox">
              <%= f.check_box :remember_me %>
              <span class="c-indicator"></span>
              Remember Me
            </label>
          </fieldset>
        <% end %>

        <%= f.submit 'Log In', class: 'btn btn-primary' %>
      <% end %>

      <div class="additional-links">
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>
      </div>
    </div>

    <!-- Register Form -->
    <div class="col-xs-12 col-sm-6 text-right" id="sign-up">
      <h2>Don&#39;t have an account? Sign Up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <fieldset class="form-group">
            <%= f.label :email, 'E-Mail Address' %>
            <%= f.email_field :email, autofocus: true, required: true, class: 'form-control' %>
          </fieldset>

          <fieldset class="form-group">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, required: true, class: 'form-control' %>
          </fieldset>

          <fieldset class="form-group">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, required: true, class: 'form-control' %>
          </fieldset>

          <fieldset class="form-group">
            <%= f.label :password, password_label %>
            <%= f.password_field :password, autocomplete: 'off', required: true, class: 'form-control' %>
          </fieldset>

          <fieldset class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password, autocomplete: 'off', required: true, class: 'form-control' %>
          </fieldset>

          <%= f.submit 'Sign Up', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>