#authentication-forms {
  font-family: 'LondonMM', $font-family-base;
  color: black;
  padding-top: 75px;

  h2 {
    font-size: 1.488rem;
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  form {
    label {
      text-transform: uppercase;
    }
  }

  .col-sm-6 {
    &:first-child {
      padding-right: 25px;

    }

    &:last-child {
      padding-left: 15px;
      border-left: 1px solid grey;
    }
  }

  .additional-links {
    padding-top: 30px;

    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  #authentication-forms {
    padding-top: 15px;

    .col-sm-6 {

      &:first-child {
        padding-right: 0.9375rem;
        padding-bottom: 25px;
      }

      &:last-child {
        padding-left: 0.9375rem;
        padding-top: 25px;
        border-top: 2px solid grey;
        text-align: left !important;
      }
    }
  }
}

#account-menu {
  font-family: 'LondonBetween', $font-family-base;

  > .btn {
    float: none;
  }
}

.empty-list {
  padding-top: 50px;
  font-family: 'LondonMM', $font-family-base;
}

#personal-information-container {
  padding-top: 50px;
  font-family: 'LondonMM', $font-family-base;

  .collapse {
    padding-top: 25px;
    padding-bottom: 10px;
  }
}