#collection-items.card-columns,
#collection-items.packery {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 0;

  .card {
    border: 0;
    border-radius: 0;
    margin: 0;
    display: block;
    font-family: 'LondonMM', $font-family-base;
    z-index: 98;
    cursor: pointer;

    .card-block {
      bottom: 0;
      width: 100%;
      height: 100%;
      left: 0;
      padding: 0;
      position: absolute;
      z-index: 99;
      display: block;
      color: white;


      .card-block-content {
        position: absolute;
        bottom: 0;
        text-align: center;
        color: white;
        width: 100%;
        text-transform: uppercase;


        .item-title {
          font-size: 1.254rem;
          margin-bottom: 0;
          padding-bottom: 0;
          display: none;
        }

        .collection-name {
          font-size: 0.76rem;
          padding-bottom: 15px;
          margin-bottom: 0;
          display: none;
        }

        .contact-link {
          color: inherit;
          font-size: 0.76rem;
          margin-bottom: 10px;
          display: block;

          &:hover {
            text-decoration: underline;
          }
        }

        .invisible-content {
          visibility: hidden;
        }

      }

      .delete-container {
        position: absolute;
        top: 0.5rem;
        right: 0.625rem;
      }
    }

    &:hover {
      .card-block {
        .card-block-content {
          background: asset_url('item-content-overlay.png') repeat 0 0;

          .item-title,
          .collection-name {
            display: block;
          }
        }
      }
    }
  }
}

#collection-items.packery {
  column-gap: unset;

  .card {
    width: 33.33%;
  }
}

@include media-breakpoint-down(xs) {
  #collection-items.card-columns {
    .card {
      .card-block {
        .card-block-content {
          background: asset_url('item-content-overlay.png') repeat 0 0;

          .item-title,
          .collection-name {
            display: block;
          }
        }
      }
    }
  }
}

.collection {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid black;

  .collection-image {
    object-fit: contain;
    min-width: 0;
  }

  .collection-title {
    font-family: 'LondonMM', $font-family-base;
    font-size: 2.0rem;
    color: black;
    padding-top: 20px;
    text-transform: uppercase;

    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &:last-child {
    border-bottom: none;
  }
}

@import 'murder_she_wrote';