#collection-item-container {

  #collection-item-details {
    font-family: 'LondonMM', $font-family-base;
    text-transform: uppercase;
    color: black;

    #collection-item-name {
      font-size: 3.071rem;
      padding-bottom: 0;
    }

    #collection-name {
      font-size: 1.488rem;

      a {
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    #request-info-call-to-action {
      padding-top: 15px;
    }

    #request-info {
      padding-top: 50px;

      #requestForm {
        padding-top: 20px;

        label {
          color: #666666;
        }
      }
    }
  }

  #collection-item-image {
    object-fit: contain;
    min-width: 0;
  }
}

@include media-breakpoint-down(xs) {
  #collection-item-container {
    #collection-item-details {
      padding-top: 15px;

      #request-info {
        padding-top: 20px;
      }
    }
  }
}