@import 'bootstrap-flex';
@import 'fonts';
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'polyfill.object-fit';
@import 'forms';
@import 'alerts';
@import 'buttons';

.page-container {
  max-width: 960px;
  padding: 0 10px;
}

#inner-container {
  padding-left: 0;
  padding-right: 0;
  padding-top: 155px;
  padding-bottom: 155px;
}

#pagetitle {
  font-family: 'LondonMM', $font-family-base;
  font-size: 3.071rem;
  color: black;
  text-transform: uppercase;
}

#subtitle {
  font-family: 'LondonMM', $font-family-base;
  font-size: 1.488rem;
  color: black;
  text-transform: uppercase;
  text-decoration: underline;
  padding-top: 50px;
}

#dark-menu-content-page {
  .jumbotron {
    padding-top: 15px;
    margin-bottom: 0;
    font-family: 'LondonMM', $font-family-base;
    background: asset_url('about.png') no-repeat top right;
    background-size: cover;
  }

  #inner-container {
    padding-bottom: 0;
  }
}

#loading-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: none;

  #loading-overlay {
    position: fixed;
    z-index: 2001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.9;
  }

  #loading-image {
    width: 120px;
    height: 120px;
    z-index: 3000;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    img {
      position: relative;
      z-index: 3000;
      display: block;
    }
  }
}

@include media-breakpoint-down(xs) {
  html {
    font-size: 12px;

    #dark-menu-content-page, #content-page {
      #inner-container {
        padding-top: 68px;

        section {
          p {
            font-size: 1.2rem;
            text-align: center;
          }
        }
      }
    }
  }
}


@import 'menus';
@import 'account';
@import 'collections';
@import 'collection_items';
@import 'enquiries';
@import 'responses';
@import 'authorizations';
@import 'orders';
@import 'payment';
@import 'static_pages';