.form-control,
.c-checkbox .c-indicator {
  border-radius: 0;
}

textarea.form-control {
  border-radius: 3px;
}

.form-control {
  &.value-missing-error {
    outline: 1px solid red;
  }

  &.invalid-format-error {
    outline: 1px solid orangered;
  }
}