@import 'bootstrap-flex';
@import 'fonts';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  max-width: 960px;
  padding: 0 10px;
}

#inner-container {
  padding-left: 0;
  padding-right: 0;
  padding-top: 155px;

  .scene.parallax {
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 60;

    > .scene-background {
      height: 200%;
      position: relative;
      top: -100%;
      background-repeat: no-repeat;
      background-position: top center;
      background-color: black;
    }

    p {
      font-family: 'LondonMM', $font-family-base;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      line-height: 200%;
      color: white;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      z-index: 70;

      span.green {
        color: #bdab11;
      }

      .collection-link {
        color: inherit;
        font-size: 1.487rem;
        position: relative;
        top: -10px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #first {
    .scene-background {
      background-image: asset_url('intro-bg.jpg');
    }

    #first-text {
      top: 200px;
      font-size: 2.922rem;
    }
  }

  #second {
    .scene-background {
      background-image: asset_url('murder-she-wrote-home.jpg');
    }

    #second-text {
      color: white;

      #murder-she-wrote-title {
        font-size: 5.562rem;
        margin-bottom: 0;
      }
    }
  }

  #third {
    .scene-background {
      background-image: asset_url('intro-2.jpg');
    }

    #third-text {
      top: 200px;
      font-size: 2.922rem;
    }
  }

  #fourth {
    > .scene-background {
      height: 200%;
      background-image: asset_url('monday-wear-collection.jpg');
    }

    #fourth-text {
      color: white;

      #monday-wear-title {
        font-size: 3.071rem;
        margin-bottom: 0;

        span.lighter {
          font-weight: 200;
          font-size: 3rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  html {
    font-size: 12px;

    #inner-container {
      padding-top: 68px;

      #first {
        #first-text {
          top: 140px;
          font-size: 2.2rem;
        }
      }

      #third {
        #third-text {
          top: 140px;
          font-size: 2.2rem;
        }
      }
    }
  }
}

@media (max-height: 750px) and (min-width: map-get($grid-breakpoints, sm)) {
  html {
    font-size: 14px;

    #inner-container {
      padding-top: 130px;

      #first {
        #first-text {
          top: 140px;
          font-size: 2.2rem;
        }
      }

      #third {
        #third-text {
          top: 140px;
          font-size: 2.2rem;
        }
      }
    }
  }
}

@media (orientation: portrait) {
  #inner-container {
    .scene.parallax {
      > .scene-background {
        background-size: cover;
      }
    }
  }
}

@media (max-aspect-ratio: 16/9) and (orientation: landscape) {
  #inner-container {
    .scene.parallax {
      > .scene-background {
        background-size: cover;
      }
    }
  }
}


@import 'menus';