// General Navbar Properties
.navbar {
  padding: 0;
  .nav.navbar-nav {
    font-family: 'LondonMM', $font-family-base;
    font-size: 0.938rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;

    .nav-link {
      color: inherit;
      text-decoration: none;
      padding-top: 0;
      padding-bottom: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Top Fixed Navigation Menu
nav.navbar {
  height: 155px;

  #logo {
    width: 137px;
  }

  #main-menu {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    .nav-item {
      margin-left: 3.125rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  #social-media-menu {
     text-align: right;

    .nav-item {
      &:first-child {
        margin-right: 1.563rem;
      }
    }
  }
}


@include media-breakpoint-down(xs) {
  nav.navbar {
    height: auto;

    .navbar-toggler {
      margin-top: 1.2rem;
      font-size: 1.667rem;
    }

    #logo {
      width: 60px;
    }

    #collapsableMenu {
      float: none !important;
      width: 100%;

      #main-menu.navbar-nav.nav {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        text-align: center !important;
        font-size: 1.1rem;

        .nav-item {
          margin-left: 0 !important;
          float: none !important;
          padding: 8px 0;
        }
      }
    }
  }

  footer.navbar {
    display: none;
  }
}

// Home Page & Dark Content Page Properties
#home-page,
#dark-menu-content-page {
  nav.navbar {
    background: black;
    color: white;

    .black {
      display: none;
    }
  }
}

// Content Page Properties
#content-page {
  nav.navbar {
    background: white;
    color: black;

    .white {
      display: none;
    }
  }
}

footer.navbar {
  background: white;
  height: 105px;
  color: black;

  .copyright {
    font-family: 'LondonMM', $font-family-base;
    font-size: 0.938rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    vertical-align: top;
  }

  .page-container {
    max-width: 995px;
    color: black;
    padding-top: 2.5rem;
  }
}

@media (max-height: 750px) and (min-width: map-get($grid-breakpoints, sm)) {

  nav.navbar {
    height: 130px;

    .page-container {
      padding-top: 0;

      #logo {
        width: 114px;
      }
    }
  }

  footer.navbar {
    height: 95px;
  }
}

@media (min-width: map-get($grid-breakpoints, sm)) and (max-width: 800px) {
  footer.navbar {
    .copyright {
      font-size: 0.8rem;
    }

    .nav.navbar-nav {
      font-size: 0.8rem;
    }
  }
}