#murder-she-wrote-editorial {
  max-width: 960px;
  font-family: 'LondonMM', $font-family-base;
  color: black;

  #expand-editorial,
  #collapse-editorial {
    cursor: pointer;
  }

  #expand-editorial {
    display: none;
  }
}

#murder-she-wrote-video {
  max-width: 960px;
  margin-top: 25px;
}