#order-container {
  font-family: 'LondonMM', $font-family-base;

  #collection-item-image {
    object-fit: contain;
    min-width: 0;
  }

  select.country {
    max-width: 332px;
  }
}

#orders {
  padding-top: 50px;
  font-family: 'LondonMM', $font-family-base;

  .card-block {
    .card-title {
      text-transform: uppercase;
    }
  }
}

#order-details-container {
  font-family: 'LondonMM', $font-family-base;
  padding-top: 50px;

  #collection-item-container {
    object-fit: contain;
    min-width: 0;
  }

  #order-details,
  #order-options {
    padding-top: 35px;
  }
}

@include media-breakpoint-up(sm) {
  #order-details-container {
    #order-details,
    #order-options {
      padding-top: 0;
    }
  }
}