#contact-container {
  font-family: 'LondonMM', $font-family-base;
  color: black;

  #subtitle {
    padding-bottom: 25px;
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    .fa {
      padding-right: 10px;
    }
  }

  .row {
    .col-sm-6 {
      &:first-child {
        padding-right: 50px;
      }

      &:last-child {
        padding-left: 50px;
      }
    }
  }
}