<%
   @pagetitle = 'Unlock Accounts Instructions E-Mail'
   @email_introduction = 'Instructions to unlock your account are enclosed'
%>

<p>Hello <strong><%= @resource.name %></strong>!</p>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my Account', unlock_url(@resource, unlock_token: @token), style: 'text-decoration: underline; color: inherit;', target: '_blank' %></p>
