<div class="card">
  <%= attachment_image_tag(sale_authorization.collection_item, :image, :fit, 650, 600, {alt: sale_authorization.collection_item.name, class: 'img-fluid card-img-top'}) %>
  <div class="card-block">
    <h4 class="card-title"><%= sale_authorization.collection_item.name %><small class='text-muted'> <%= sale_authorization.collection_item.collection.name %></small></h4>
    <p>USD <%= sale_authorization.price %></p>
    <div class="btn-group enquiry-options" role="group" aria-label="Authorization Options">
      <%= link_to 'Purchase', new_account_authorization_order_path(sale_authorization), class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Cancel Request', account_authorization_path(sale_authorization), method: :delete, class: 'btn btn-secondary btn-sm' %>
    </div>
  </div>
</div>