<%
   pagetitle = 'My Account - Purchase Authorizations'
   description = 'Rhion Romany Customer Account Purchase Authorizations Page'
   meta title: pagetitle,
        description: description
%>

<h1 class="text-xs-center" id="pagetitle">My Account</h1>

<%= render 'accounts/account_menu' %>

<% if @user.open_authorizations.count > 0 %>
    <div class="card-columns page-container container-fluid" id="authorizations">
      <%= render 'shared/flash_messages' %>
      <%= render partial: 'authorizations/sale_authorization', collection: @user.open_authorizations %>
    </div>
<% else %>
    <div class="page-container empty-list container-fluid" id="empty-authorizations">
      <%= render 'shared/flash_messages' %>
      <p class="text-xs-center lead">No outstanding authorizations were found for your account</p>
    </div>
<% end %>