<div class="card">
  <%= attachment_image_tag(enquiry.collection_item, :image, :fit, 650, 600, {alt: enquiry.collection_item.name, class: 'img-fluid card-img-top'}) %>
  <div class="card-block">
    <h4 class="card-title"><%= enquiry.collection_item.name %><small class='text-muted'> <%= enquiry.collection_item.collection.name %></small></h4>
    <div class="btn-group enquiry-options" role="group" aria-label="Enquiry Options">
      <% if enquiry.responses.count > 0 %>
        <%= link_to 'View Message Thread', account_enquiry_responses_path(enquiry), class: 'btn btn-primary btn-sm' %>
      <% end %>
      <%= link_to 'Delete Enquiry', account_enquiry_path(enquiry), method: :delete, class: 'btn btn-secondary btn-sm' %>
    </div>
  </div>
</div>