<%
   pagetitle = 'My Account - Enquiries'
   description = 'Rhion Romany Customer Account Enquiry Page'
   meta title: pagetitle,
        description: description
%>

<h1 class="text-xs-center" id="pagetitle">My Account</h1>

<%= render 'accounts/account_menu' %>

<% if @enquiries.count > 0 %>
<div class="card-columns page-container container-fluid" id="enquiries">
  <%= render @enquiries %>
</div>
<% else %>
<div class="page-container empty-list container-fluid" id="empty-enquiries">
  <p class="text-xs-center lead">No open enquiries were found for your account</p>
</div>
<% end %>