<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <%= metamagic site: 'Rhion Romany',
                title: [:title, :site],
                separator: ' | ',
                og: {
                    site_name: 'Rhion Romany',
                    image: asset_url('RR-logo.png'),
                    type: 'website'
                }
  %>

  <%= stylesheet_link_tag 'home', media: 'all' %>

  <%= analytics_init if GoogleAnalytics.valid_tracker? %>

  <%= csrf_meta_tags %>
</head>
  <body class="application-interface" id="home-page">
    <%= render 'shared/top_menu' %>
    <div class="container-fluid" id='inner-container'>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'home' %>
  </body>
</html>
