<div class="btn-group text-xs-center center-block page-container" role="group" aria-label="Account Menu" id="account-menu">
  <%= link_to 'Personal Information', account_path, class: "btn btn-secondary#{if controller?('accounts') then ' active' end}" %>
  <%= link_to 'Enquiries', account_enquiries_path, class: "btn btn-secondary#{if page?('enquiries') then ' active' end}" %>
  <%= link_to 'Purchase Authorizations', account_authorizations_path, class: "btn btn-secondary#{if page?('authorizations') then ' active' end}" %>
  <%= link_to 'Orders', account_orders_path, class: "btn btn-secondary#{if page?('orders') then ' active' end}" %>
  <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-secondary' %>
</div>