<%
   pagetitle = 'My Account'
   description = 'Rhion Romany Customer Account Home Page'
   meta title: pagetitle,
        description: description
%>

<h1 class="text-xs-center" id="pagetitle">My Account</h1>

<%= render 'accounts/account_menu' %>

<div class="page-container container-fluid" id="personal-information-container">
  <%= render 'shared/flash_messages' %>
  <div class='jumbotron'>
    <h1 class="display-4"><%= current_user.name %></h1>
    <p class="lead"><strong>Account created </strong><%= current_user.created_at.strftime('%B %d, %Y') %></p>
    <hr class="m-y-md">
    <%= content_tag(:button, 'Change Password', {class: 'btn btn-primary btn-block', type: 'button', data: {toggle: 'collapse', target: '#changePassword'}, 'aria-controls': 'changePassword', 'aria-expanded': 'false'}) %>
    <div class="collapse" id="changePassword">
      <%= form_for current_user, url: change_password_account_path, method: :post do |f| %>
        <fieldset class="form-group">
          <%= f.label :password, 'New Password' %>
          <%= f.password_field :password, class: 'form-control', required: true %>
        </fieldset>

        <fieldset class="form-group">
          <%= f.label :password_confirmation, 'New Password Confirmation' %>
          <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
        </fieldset>

        <%= f.submit 'Set New Password', class: 'btn btn-secondary' %>
      <% end %>
    </div>
  </div>
</div>


