<%
   @pagetitle = 'Response Received Notification'
   @email_introduction = 'You have received a reply from one of your customer interactions'
%>

<p>You received a response at <%= @response.created_at.strftime('%I:%M %p') %>, on <%= @response.created_at.strftime('%B %y, %Y') %>, from <strong><%= @response.writer.name %></strong></p>
<p>The message follows:</p>
<p><%= @response.message %></p>
<p style="border-top: 1px solid #000000; padding-top: 25px;">
  You can respond to this message <a style="text-decoration: underline; color: inherit;" href="<%= @response.admin_response_url %>" target="_blank">here</a>.
</p>